<div class="jumbotron vertical-center">
  <div class="col-md-5">
    <%= image_tag "spinearth.gif", class: "img-responsive earthborder" %>
  </div>
  <div class="col-md-7">
    <h1>Learn to say <span class="element"></span></h1>
    <p>the platform for languages.</p>
    <div class="ui large buttons">
      <a href="/users/sign_in"><button class="ui button">Log In</button></a>
      <div class="or"></div>
      <a href="/users/sign_up"><button class="ui blue button">Get Started</button></a>
    </div>
  </div>
</div>

<div class="container bpad">
  <div class="row alignment">
    <div class="col-md-6">
      <h2> The best way to connect with a tutor
        <br> or learning partner. </h2>
        <br>
      <p> Let's say you are a native English speaker who
        is looking to learn Spanish. Our network will match you with a native
        Spanish speaker who is looking to learn English. The two of you can then
        swap an hour of speaking in Spanish for an hour of speaking in English.
        <i>If you're just looking for a traditional tutor we've got you covered as well!</i>
      </p>
    </div>
    <div class="col-md-6">
      <%= image_tag "section1.jpg", class: "img-responsive earthborder" %>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row alignment">
      <div class="col-md-4">
        <i class="fa fa-check-square-o" aria-hidden="true"></i> &ensp; <h5>Completely Free</h5><br>
        <i class="fa fa-check-square-o" aria-hidden="true"></i> &ensp; <h5>Feedback Driven</h5><br>
        <i class="fa fa-check-square-o" aria-hidden="true"></i> &ensp; <h5>Find the Perfect Tutor</h5><br>
        <i class="fa fa-check-square-o" aria-hidden="true"></i> &ensp; <h5>Learn on Your Own Schedule</h5> <br>
        <i class="fa fa-check-square-o" aria-hidden="true"></i> &ensp; <h5>Learn With a Community!</h5>
      </div>
      <div class="col-md-4">
        <i class="fa fa-laptop" aria-hidden="true"></i>
      </div>
      <div class="col-md-4" style="padding-left:30px; padding-bottom:10px;">
        <i class="fa fa-handshake-o" aria-hidden="true"></i> &ensp; <h5>Forge Friendships Across the Globe </h5><br>
        <i class="fa fa-binoculars" aria-hidden="true"></i> &ensp; &nbsp; <h5>Gain Real-time Insight on Your Learning </h5><br>
        <i class="fa fa-cubes" aria-hidden="true"></i> &ensp; <h5>Pre-select a Topic of Conversation </h5><br>
        <i class="fa fa-line-chart" aria-hidden="true"></i> &ensp; &nbsp; <h5> Keep Track of What You've Learned </h5><br>
        <i class="fa fa-users" aria-hidden="true"></i> &ensp; &nbsp; <h5> Join a Community of Lifelong Learners </h5>
      </div>
    </div>
  </div>
</div>

<div class="container bpad">
  <div class="row alignment">
    <div class="col-md-6">
      <%= image_tag "bookdoor.jpg", class: "img-responsive earthborder" %>
    </div>
    <div class="col-md-6">
      <h2> What are you waiting for?</h2>
        <br>
      <p> Our service is completely free and just takes a few minutes to get up and running.
      Start learning the language of your dreams - now! </p> <br>
      <a href="/users/sign_up"><button class="massive ui blue button">Get Started</button></a>
    </div>
  </div>
</div>
