<div class="container">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        What is Language Exchange?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">The Language Exhcange is a platform for connecting
      individuals who are looking to find partners to aid in their learning. aside
      from being able to find a traditional tutor, our website will help you find
      someone who speaks the language you are trying to learn. Say if you wanted to learn
      Spanish and another person wanted to learn English. Each of you could trade 30
      minutes of speaking in one language for 30 minutes of speaking in the other language.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Does this cost anything?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Nope. Our service is 100% free!</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        How can I get started?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">You can get started here:
      <a href="/users/sign_up"><button class="ui blue button">Get Started</button></a><br>
      All of you have to do it sign up for an account and fill out some basic information
      for your profile. After this has been done, you can start searching for someone to
      learn with!

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Can I make suggestions for improving the Language Exchange?</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">Absolutely. We definitely encourage any suggestions
      or critiques about how our website works. Please send an email to pacemlee@gmail.com
      with a subject including LANGUAGE EXCHANGE. Thanks.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Are there any new implementations coming soon?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">Quite possibly! I will try to update this as needed.</div>
    </div>
  </div>
</div>
</div>
